*{
    margin: 0;
    padding: 0;
}
.nav,
.box{
    display: flex;
    align-items: center;
}
.content{
    width: 1000px;
    height: 300px;
    margin: 0 auto;
}
.nav{
    justify-content: space-between;
    background-color: dodgerblue;
}
.page_name{
    font-size: 25px;
}
.login{
    padding: 5px;
    background-color: gray;
}
.login,
.page_name,
.search{
    margin: 10px;
}
.main_body{
    align-items: flex-start;
    display: flex;
}
.col2{
    flex: 2;
    margin-right: 20px;
}
.col1{
    flex: 1;
}
.box{
    background-color: gray;
    margin: 15px 15px 15px 0px;
}
.box_description,
.box_text{
    margin: 15px;
}
.add_box{
    background-color: aqua;
}