.row{
    background-color: black;
    display: flex;
    justify-content: space-between;
    min-width: 0px;
    padding: 10px;
    margin: 10px;
}
.col{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 0px 10px;
}
.col-2{
    background-color: violet;
    flex: 2;
    margin: 0px 10px;
}
.col-3{
    background-color: red;
    flex: 3;
    margin: 0px 10px;
}

.row > .col+.col-2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row > .col-2+.col-3{
    display: flex;
    justify-content: center;
    align-items: center;
}